@using System.Globalization;
@using System.Linq;
@model BarDoDG.WebSite.Models.Comanda.ComandasAtivasViewModel
@{
    ViewData["Title"] = "Comandas ativas";
}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Comandas em atendimento</h3>
            </div>            
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="tbComandasAtivas" class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">Id comanda</th>
                                    <th class="text-center">Nome cliente</th>
                                    <th class="text-center">Data de abertura</th>
                                    <th class="text-right">Valor total</th>
                                    <th class="text-right">Valor desconto</th>
                                    <th class="text-right">Valor total com desconto</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.LstComandaAtiva?.Count > 0)
                                {
                                    @foreach (BarDoDG.Application.DTOs.ComandaDTO comandaDTO in Model.LstComandaAtiva)
                                    {
                                        <tr>
                                            <td class="text-center"><a asp-controller="Comanda" asp-action="Detalhes" asp-route-id="@comandaDTO.IdComanda" title="Visualizar detalhes da comanda"><i class="fa fa-info-circle text-blue"></i> @comandaDTO.IdComanda</a></td>
                                            <td class="text-center">@comandaDTO.NomeCliente</td>
                                            <td class="text-center">@comandaDTO.DataAbertura.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                            <td class="text-right">@string.Format(CultureInfo.GetCultureInfo("pt-BR"), "{0:C}", comandaDTO.ValorTotal)</td>
                                            <td class="text-right">@string.Format(CultureInfo.GetCultureInfo("pt-BR"), "{0:C}", comandaDTO.Desconto)</td>
                                            <td class="text-right">@string.Format(CultureInfo.GetCultureInfo("pt-BR"), "{0:C}", comandaDTO.ValorTotalComDesconto)</td>
                                        </tr>
                                    }
                                    <tr class="active">
                                        <td colspan="2"></td>
                                        <td class="text-center fs-14 black-text"><strong>Totais:</strong></td>
                                        <td class="text-right fs-14 black-text"><strong>@string.Format(CultureInfo.GetCultureInfo("pt-BR"), "{0:C}", Model.LstComandaAtiva.Select(p => p.ValorTotal).Sum())</strong></td>
                                        <td class="text-right fs-14 black-text"><strong>@string.Format(CultureInfo.GetCultureInfo("pt-BR"), "{0:C}", Model.LstComandaAtiva.Select(p => p.Desconto).Sum())</strong></td>
                                        <td class="text-right fs-14 black-text"><strong>@string.Format(CultureInfo.GetCultureInfo("pt-BR"), "{0:C}", Model.LstComandaAtiva.Select(p => p.ValorTotalComDesconto).Sum())</strong></td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6" class="text-center">Nenhuma comanda ativa no momento.</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="text-center">
                            <button type="button" class="btn btn-primary">
                                <a asp-controller="Comanda" asp-action="NovaComanda" class="text-black"><i class="fa fa-plus-circle text-black"></i> Nova comanda</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>            
        </div>        
    </div>
</div>